:root {
    /* color */
    --color-dark: #000;
    --color-semidark :#333;
    --color-gray :rgb(100, 100, 100);
    --color-light: #fff;
    --color-red: #eb0a1e;
    /* font */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-medium: 500;
    --weight-regualr: 400;
    --weight-light: 300;
    /* font size */
    --font-large: 48px;
    --font-semilarge: 26px;
    --font-medium: 24px;
    --font-regular: 18px;
    --font-micro: 14px;
    /* annimation */
    --animation-duration: 300ms;
}

h1 {
    margin: 16px 0;
    color: var(--color-dark);
    font-weight: var(--weight-bold);
    font-size: var(--font-large);
}
h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-dark);
    margin: 8px 0;
}
h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 8px 0;
}
p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regualr);
    color: var(--color-dark);
    margin: 4px 0;
}
